@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #99948c;
}

.container {
    overflow: hidden;
    background: #171715;
    cursor: ew-resize;
    white-space: nowrap;
    padding: 10vh 0;
}

.title {
    font-family: Emblema One;
    font-size: 12vw;
    position: relative;
    color: #99948c;
    display: inline-block;
    margin: 0;
    padding: 0 15%;
    will-change: transform;
    text-transform: uppercase;
}























